@media screen {
    body {
        padding: 0;
        margin: 0;
        --white-200: #F5F2F2;
        --white-400: #E5E5E5;
        --yellow-100: #FFE9A1;
        --yellow-300: #FFDB63;
        --red-100: #FFC4C4;
        --red-300: #FF6363;
        --neutral-400: #858585;
        --neutral-800: #2C2B2B;
        --neutral-950: #000;
    }

    .bar {
        width: 100%;
        height: 30px;
        background-color: var(--yellow-300);
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 113px;
    }

    .logo {
        color: var(--neutral-800);
        text-decoration: none;
    }

    header>.logo>img {
        padding-left: 64px;
        width: 29.273px;
        height: 26px;
        flex-shrink: 0;
    }

    header>.logo>span {
        padding-left: 45px;
        color: var(--neutral-800);
        text-align: center;
        font-family: Inter;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .search_bar_and_login {
        display: flex;
        margin-right: 50px;
    }

    .search_bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 258px;
        height: 45px;
        border-radius: 30px;
        background: var(--white-200);

    }

    .search_bar>form>button {
        border: none;
        border-radius: 50px;
        background-color: var(--white-200);
        cursor: pointer;
    }

    .search_bar>form>input {
        border: none;
        background-color: var(--white-200);
    }

    .search_bar>form>input:focus {
        border: none;
        outline: none;
    }

    .clear {
        clear: both;
        margin-top: 20px;
    }

    .login {
        margin-left: 30px;
        display: flex;
        align-items: center;
        width: 120px;
        height: 45px;
        border-radius: 22.5px;
        background-color: var(--yellow-300);
    }

    .login:hover {
        background-color: var(--yellow-100);
    }

    .login>img {
        margin-left: 23px;
        width: 16px;
        height: 19px;
        flex-shrink: 0;
    }

    .error {
        color: red;
        margin: 0;
    }

    .login>a {
        margin-left: 15px;
        color: var(--neutral-950);
        font-family: Inter;
        font-size: 15.659px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-decoration: none;
    }





    .menu>ul {
        list-style-type: none;
        width: 900px;
        /* border: 1px solid green; */
    }

    .menu>ul>li {
        display: inline-block;
        padding-left: 10px;
        padding-right: 70px;
        color: var(--neutral-800);
        text-align: center;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .menu>ul>li>a {
        color: var(--neutral-800);
        text-decoration: none;
    }

    .menu>ul>li:hover .sub_menu {
        display: block;
    }

    .menu>ul>li:hover {
        color: var(--neutral-400);
    }

    .menu>ul>li:hover>a {
        color: var(--neutral-400);
    }

    .sub_menu {
        --padding-value: 50px;
        position: absolute;
        padding-top: var(--padding-value);
        padding-left: var(--padding-value);
        margin-left: calc(var(--padding-value) * -1);
        padding-right: var(--padding-value);
        padding-bottom: 20px;
        display: none;
        background-color: var(--white-200);
        width: max-content;
    }

    .sub_menu>ul {
        list-style-type: none;
        padding: 0;
    }

    .sub_menu>ul>li {
        margin-bottom: 30px;
    }

    .sub_menu>ul>li>a {
        text-decoration: none;
        color: var(--neutral-800);
    }

    .sub_menu>ul>li:hover>a {
        color: var(--neutral-950);
        text-decoration: underline;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 362px;
        width: 100%;
        color: white;
        background-image: url(./PROJECT_files/Hero_image.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;

        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 273px;
        width: 100%;
        background-color: var(--yellow-300);
    }

    footer>.logo {
        width: 314px;
        padding-left: 114px;
        margin-right: 200px;
    }

    footer>.logo>a {
        text-decoration: none;
        cursor: pointer;
    }

    footer>.logo>a>img {
        width: 49.677px;
        height: 46.129px;
        flex-shrink: 0;
        margin-right: 125px;
        cursor: pointer;

    }

    footer>.logo>a>span {
        color: var(--neutral-800);
        text-align: center;
        font-family: Inter;
        font-size: 46.129px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    footer>.social_media>p {
        color: var(--neutral-950);
        font-family: Inter;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    footer>.social_media>.icons {
        display: flex;
    }

    footer>.social_media>.icons>a {
        width: 32px;
        height: 32px;
        padding-right: 20px;
    }

    footer>.social_media>.icons>a>img {
        background-color: var(--yellow-100);
        width: 32px;
        height: 32px;
        border: 5px solid var(--yellow-100);
        border-radius: 7px;
        cursor: pointer;
    }
}

@media print {
    body {
        padding: 0 !important;
        margin: 0 !important;
        --white-200: #F5F2F2 !important;
        --white-400: #E5E5E5 !important;
        --yellow-100: #FFE9A1 !important;
        --yellow-300: #FFDB63 !important;
        --red-100: #FFC4C4 !important;
        --red-300: #FF6363 !important;
        --neutral-400: #858585 !important;
        --neutral-800: #2C2B2B !important;
        --neutral-950: #000 !important;
    }

    .bar {
        width: 100% !important;
        height: 30px !important;
        background-color: var(--yellow-300) !important;
    }

    .hero {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 362px !important;
        width: 100% !important;
        color: white !important;
        background-image: url(./PROJECT_files/Hero_image.png) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-color: rgba(0, 0, 0, 0.5) !important;
        background-blend-mode: darken !important;

        font-family: Inter !important;
        font-size: 40px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: normal !important;
    }

    header,
    footer {
        display: none !important;
    }
}